<div
  class="card_wr text-center"
  [routerLink]="['/post', postData.id]"
  (click)="incrementViews(postData.id)"
>
  <figure class="card position-relative">
    <img [src]="postData?.data?.pathPostImg" alt="Featured Post Image" />
    <figcaption class="figure-caption">
      <p class="text-light fw-bold rounded-lg text-uppercase">
        created-{{ postData?.data?.createdAt.toMillis() | date }}
      </p>

      <span
        class="badge bg-dark text-light fw-bold rounded-pill"
        *ngIf="postData?.data?.isFeatured"
        >Featured</span
      >
      <span class="badge bg-dark ml-1 text-light fw-bold rounded-pill">{{
        postData?.data?.category?.category
      }}</span>
      <span class="badge bg-dark ml-1 text-light fw-bold rounded-pill"
        >Views - {{ postData?.data?.views }}</span
      >
    </figcaption>
  </figure>
  <h4 class="mt-2 post_title">{{ postData?.data?.title }}</h4>
</div>
