<div class="card_wr text-center">
  <div class="card position-relative">
    <p class="text-light fw-bold rounded-lg text-uppercase">
      created-10.10.2023
    </p>
    <div class="d-flex mt-auto">
      <span class="badge bg-dark text-light fw-bold rounded-pill"
        >Featured</span
      >
      <span class="badge bg-dark text-light fw-bold rounded-pill">Design</span>
      <span class="badge bg-dark text-light fw-bold rounded-pill"
        >Views-200</span
      >
    </div>
  </div>
  <h2 class="mt-2">Lorem Ipsum Blshe</h2>
</div>
