<div class="container py-4">
  <div class="col-lg-12">
    <h1>Temrs & Conditions</h1>
    <h3 class="fornt regular text-wrap">
      Lorem ipsum dolor sit amet consectetur.
    </h3>
    <ol class="text-end">
      <li class="ordered_li">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima,
        nostrum?
      </li>
      <li class="ordered_li">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas
        error fugiat!
      </li>
      <li class="ordered_li">
        Lorem ipsum dolor sit amet consectetur adipisicing.
      </li>
      <li class="ordered_li">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum tempora
        numquam modi, eveniet!
      </li>
    </ol>
    <h6 class="py-4 pb-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae quaerat,
      corporis nulla, impedit a rerum odit tempore atque enim laudantium illo
      sed sint veniam.Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quas laboriosam rerum cupiditate consequatur itaque eos voluptatum eveniet
      eius illo, asperiores necessitatibus quo labore aliquam repudiandae.
    </h6>
  </div>
</div>
