<div class="w-100 post">
  <div class="container">
    <h1>{{ singlePost?.title }}</h1>
  </div>
  <div class="w-100 post">
    <div class="row pt-3">
      <div class="col-lg-3 col-md-3 col-sm-6 text-center">
        <p>
          <span class="text-uppercase"><b>Category:</b> </span
          >{{ singlePost?.category.category }}
        </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center">
        <p>
          <span class="text-uppercase"><b>Created at:</b> </span>
          {{ singlePost?.createdAt.toMillis() | date }}
        </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center">
        <p>
          <span class="text-uppercase"><b>Views:</b> </span>
          {{ singlePost?.views }}
        </p>
      </div>
    </div>
  </div>
  <div class="w-100 post">
    <div class="row mt-3 px-4">
      <div class="col-lg-9 col-md-8 col-sm-12">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex justify-content-center">
              <img [src]="singlePost?.pathPostImg" alt="Featured Post Image" />
            </div>
          </div>
          <div class="col-md-12 mt-2">
            <p class="post_p" [innerHTML]="singlePost?.content"></p>
          </div>

          <div class="col-lg-9 col-md-12 mx-auto mt-3">
            <app-comment-form></app-comment-form>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div
          class="d-flex flex-column flex-sm-row flex-md-column justify-content-center"
          *ngFor="let similarPost of similarPosts"
        >
          <app-post-card [postData]="similarPost"></app-post-card>
        </div>
      </div>
    </div>
  </div>
</div>
