<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">BLO_ANG</a>
  <div class="wr_navbar_toggler">
    <button
      class="navbar-toggler border-none"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mt-1" *ngFor="let category of categoryArray">
      <a
        class="nav-item nav-link active"
        href="#"
        [routerLink]="['/category', category.data.category, category.id]"
        >{{ category.data.category }}<span class="sr-only">(current)</span></a
      >
    </div>
  </div>
</nav>
