<div class="container-fluid dark_theme pb-4">
  <h2>Comments(25)</h2>

  <div class="card-body prim_theme px-2 pt-2 pb-2 mb-2">
    <h3>John Doen</h3>
    <h6>Posted: 12.33pm yestarday</h6>
    <p class="p_comment pb-1">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut dignissimos
      ullam explicabo sequi aspernatur maxime!
    </p>
    <button class="btn-sub mr-4">Reply</button>
    <button class="btn-sub">View Reply</button>
  </div>
  <div class="card-body prim_theme px-2 pt-2 pb-2 mb-2">
    <h3>John Doen</h3>
    <h6>Posted: 12.33pm yestarday</h6>
    <p class="p_comment pb-1">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut dignissimos
      ullam explicabo sequi aspernatur maxime!
    </p>
    <button class="btn-sub mr-4">Reply</button>
    <button class="btn-sub">View Reply</button>
  </div>
  <div class="card-body prim_theme px-2 pt-2 pb-2">
    <h3>John Doen</h3>
    <h6>Posted: 12.33pm yestarday</h6>
    <p class="p_comment pb-1">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut dignissimos
      ullam explicabo sequi aspernatur maxime!
    </p>
    <button class="btn-sub mr-4">Reply</button>
    <button class="btn-sub">View Reply</button>
  </div>
</div>
