<footer>
  <div class="d-flex px-sm-4 flex-column align-items-center">
    <div
      class="d-flex justify-content-between w-100 align-items-center flex-column flex-md-row mt-4"
    >
      <h2 class="uppercase text-center text-nowrap mx-4">Join our community</h2>
      <ul class="list-nav d-flex text-center">
        <li><a href="home">Home</a></li>
        <li><a href="about">About us</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="terms">Terms </a></li>
      </ul>
    </div>
    <div class="footer_logo">BlOG_ANGULAR</div>
    <div class="d-flex w-100 px-sm-4 flex-column flex-sm-row">
      <ul class="list-nav d-flex ml-3 gap-2 mx-3">
        <li>
          <i class="bi bi-instagram h-4 w-4" style="color: white"></i>
        </li>
        <li>
          <i class="bi bi-twitter h-4 w-4 text-white ml-3"></i>
        </li>
        <li>
          <i class="bi bi-telegram h-4 w-4 text-white ml-3"></i>
        </li>
      </ul>
      <p class="flex-grow-1 text-nowrap text-right">
        &copy; 2023 HANNA ANDRUSHKO
      </p>
    </div>
  </div>
</footer>
