<section class="featured text-white">
  <div class="container-fluid">
    <div class="row">
      <div class="text-center mt-2 col-md-12">
        <h2 class="text-uppercase">Featured Posts</h2>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-3 col-md-4 col-sm-6"
        *ngFor="let featuredPost of featuredPosts"
      >
        <app-post-card [postData]="featuredPost"></app-post-card>
      </div>
    </div>
  </div>
</section>
<section class="latest mt-2 mb-2">
  <div class="container">
    <div class="row">
      <div class="text-center col-md-12 mt-2">
        <h2 class="text-uppercase">Latest Post</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6" *ngFor="let latestPost of latestPosts">
        <app-post-card [postData]="latestPost"></app-post-card>
      </div>
    </div>
  </div>
</section>
